<div class="container messages-page">
  <br>
  <div class="row">
    <div class="col">
      <%= link_to '', conversations_path(@user_id), class: "fa fa-angle-left fa-3x" %>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>

  <br><br>
  <% if @over_ten %>
     <%= link_to 'Show Previous', '?m=all' %>
  <% end %>



  <div class="ui segment">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div class="item">
          <div class="content">
            <div class="header"><strong><%= user.username %></strong> <%= message.message_time %></div>
            <div class="list">
              <div class="item">
                <i class="right triangle icon"></i>
                <%= message.body %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <br>


  <div class="message-area">
    <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
      <div class="field">
        <%= f.text_area :body, class: "form-control" %>
      </div>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden", class:"form-control" %>
      <div>
        <%= f.submit "Add Reply", class: "btn btn-outline-dark" %>
      </div>
    <% end %>
  </div>



</div> <!-- end container -->

<%= render "partials/nav" %>
