<div class="container">

  <div class="edit-user-page">

    <div class="row">
      <div class="col">
        <%= link_to "", dogs_path, class: "fa fa-angle-left fa-3x" %>
      </div>
      <div class="col">
        <% if user_signed_in? %>
          <%= link_to('', destroy_user_session_path, class: "fa fa-sign-out fa-3x", method: :delete) %>
        <% else %>
          <%= link_to('Login', new_user_session_path)  %>
        <% end %>
      </div>
    </div>


    <h2 class="heading">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%# devise_error_messages! %>
      <%= render 'devise/partials/message' %>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <br><br>

      <div class="field form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "New password" %>
        <% if @minimum_password_length %>
          <p><em><%= @minimum_password_length %> characters minimum</em></p>
        <% end %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm new password" %>
      </div>

      <br>

      <div class="field form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Current password" %>
        <p><em>(we need your current password to confirm your changes)</em></p>
      </div>

      <br>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-outline-success" %>
      </div>
    <% end %>

    <br><br>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-outline-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>

    <br>

  </div> <!-- end edit-user-page -->

</div> <!-- end container -->

<%= render "partials/nav" %>
