<%= form_with(model: dog, local: true) do |form| %>
  <% if dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %> <br>
    <%= form.text_field :name, id: :dog_name, class: "form-control", placeholder: "Enter dog's name" %>
  </div>

  <br>

  <div class="field">
    <%= form.label :price %> $/hour <br>
    <%= form.text_field :price, id: :dog_price, class: "form-control", placeholder: "Enter as 00.00" %>
  </div>

  <br>

  <div class="field">
    <%= form.label :breed %> <br>
    <%= form.text_area :breed, id: :dog_breed, class: "form-control", placeholder: "Enter breed" %>
  </div>


  <br>

  <div class="field">
    <%= form.label :description %> <br>
    <%= form.text_area :description, id: :dog_description, class: "form-control", placeholder: "minimum 20 characters" %>
  </div>

  <br>

  <div class="field">
    <%= form.label :age %> <br>
    <%= form.number_field :age, id: :dog_age, class: "form-control", placeholder: "minimum 0" %>
  </div>

  <br>

  <div class="field">
    add an image.... <br>
    <%= form.file_field :image %>
  </div>

  <br>

  <div>
    <%= form.label :address %><br />
    <%= form.text_field :address, class: "form-control", placeholder: "Enter full address" %>
  </div>

  <br>

  <div>
    <%= form.label :latitude %><br />
    <%= form.text_field :latitude, class: "form-control", placeholder: "optional" %>
  </div>

  <br>
  
  <div>
    <%= form.label :longitude %><br />
    <%= form.text_field :longitude, class: "form-control", placeholder: "optional" %>
  </div>

  <br>

  <div class="field dog-show-texts">
    <%= form.label :tricks %>
    <%= form.check_box :tricks, id: :dog_tricks %>
  </div>

  <div class="field dog-show-texts">
    <%= form.label :kid_friendly %>
    <%= form.check_box :kid_friendly, id: :dog_kid_friendly %>
  </div>

  <div class="field dog-show-texts">
    <%= form.label :obedient %>
    <%= form.check_box :obedient, id: :dog_obedient %>
  </div>

  <div class="field dog-show-texts">
    <%= form.label :energetic %>
    <%= form.check_box :energetic, id: :dog_energetic %>
  </div>

  <div class="field dog-show-texts">
    <%= form.label :small %>
    <%= form.check_box :small, id: :dog_small %>
  </div>

  <div class="field dog-show-texts">
    <%= form.label :medium %>
    <%= form.check_box :medium, id: :dog_medium %>
  </div>

  <div class="field dog-show-texts">
    <%= form.label :large %>
    <%= form.check_box :large, id: :dog_large %>
  </div>

  <div class="actions dog-show-texts">
    <%= form.submit class: "btn btn-outline-dark" %>
  </div>
<% end %>
