<p id="notice"><%= notice %></p>

<h1 class="dog-show-texts">AirPupper</h1>

<p class="dog-show-texts"><%= link_to 'New Dog', new_dog_path %></p>

<div class="row">
  <div class="col-12">
    <p class="form">
      <%= form_tag(dogs_path, method: :get) do %>
        <%= text_field_tag :term, params[:term] %>
        <%= submit_tag 'Search', name: nil %>
      <% end %>
    </p>
  </div>
</div>



<div class="container">
  <div class="card-columns">
    <% @dogs.reverse.each do |dog| %>
      <div class="card">
        <%= image_tag(dog.image_url.to_s, class: "picture_icon, card-img-top") %>

        <div class="card-body">
          <h3 class="card-title"><%= dog.name %>, <%= dog.age %></h3>
          <p class="card-text">
            <p>$<%= dog.price %></p>
            <p><%= dog.breed %></p>
            <p>Posted by <%= dog.user.username %></p>
            <br>
            <p><%= dog.description %></p>

            <br>

            <% if dog.tricks? %>
              <p>Tricks</p>
            <% end %>

            <% if dog.kid_friendly? %>
              <p>Kid friendly</p>
            <% end %>

            <% if dog.obedient? %>
              <p>Obedient</p>
            <% end %>

            <% if dog.energetic? %>
              <p>Energetic</p>
            <% end %>

            <% if dog.small? %>
              <p>Small</p>
            <% end %>

            <% if dog.medium? %>
              <p>Medium</p>
            <% end %>

            <% if dog.large? %>
              <p>Large</p>
            <% end %>
          </p>

          <p>
            <% if dog.user_id == current_user.id %>
              <%= link_to 'Edit', edit_dog_path(dog) %>
              <%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            <%= link_to 'Show', dog %>
          </p>
        </div> <!-- end card-body div -->

        <div class="card-footer">
          <small class="text-muted"><%= time_ago_in_words(dog.created_at) %> ago</small>
        </div>

      </div> <!-- end card div -->



    <% end %>
  </div> <!-- end card-column -->
</div> <!-- end container -->



<%= render "partials/nav" %>
