<div class="container">

  <div class="row">
    <div class="col">
      <%= link_to '', dogs_path, class: "fa fa-angle-left fa-3x" %>
    </div>
    <div class="col text-go-right">
      <p>
        <% if @dog.user_id == current_user.id %>
          <%= link_to '', @dog, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash-o fa-3x" %>
        <% end %>
      </p>
    </div>
  </div>

  <p id="notice"><%= notice %></p>

  <p>
    <%= image_tag(@dog.image_url.to_s, class: "dog-pic") %>
  </p>

  <p class="dog-show-texts">
    <% if @dog.user_id == current_user.id %>
      <%= link_to 'Edit', edit_dog_path(@dog) %>
    <% end %>
  </p>

  <h2 class="dog-show-texts">
    <%= @dog.name %>, <%= @dog.age %>
  </h2>

  <p class="dog-show-texts">
    $<%= @dog.price %>/hr
  </p>

  <p class="dog-show-texts">
    <%= @dog.breed %>
  </p>

  <p class="dog-show-texts">
    <%= @dog.description %>
  </p>

  <div class="row">
    <div class="col">
      <% if @dog.tricks? %>
        <p class="dog-show-texts">Tricks</p>
      <% end %>
    </div>
    <div class="col">
      <% if @dog.kid_friendly? %>
        <p class="dog-show-texts">Kid friendly</p>
      <% end %>
    </div>
    <div class="col">
      <% if @dog.obedient? %>
        <p class="dog-show-texts">Obedient</p>
      <% end %>
    </div>
  </div><!-- end row -->

  <div class="row">
    <div class="col">
    <% if @dog.energetic? %>
      <p class="dog-show-texts">Energetic</p>
    <% end %>
    </div>
    <div class="col">
      <% if @dog.small? %>
        <p class="dog-show-texts">Small</p>
      <% end %>
    </div>
    <div class="col">
      <% if @dog.medium? %>
        <p class="dog-show-texts">Medium</p>
      <% end %>
    </div>
    <div class="col">
      <% if @dog.large? %>
        <p class="dog-show-texts">Large</p>
      <% end %>
    </div>
  </div><!-- end row -->

</div> <!-- end container div -->
