<div class="container">

  <div class="row">
    <div class="col">
      <%= link_to '', dogs_path, class: "fa fa-angle-left fa-3x" %>
    </div>
    <div class="col text-go-right">
      <p>
        <% if @dog.user_id == current_user.id %>
          <%= link_to '', @dog, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash-o fa-3x" %>
        <% end %>
      </p>
    </div>
  </div>

  <p id="notice"><%= notice %></p>

  <p>
    <%= image_tag(@dog.image_url.to_s, class: "dog-pic") %>
  </p>

  <p class="dog-show-texts">
    <% if @dog.user_id == current_user.id %>
      <%= link_to 'Edit', edit_dog_path(@dog) %>
    <% end %>
  </p>

  <h2 class="dog-show-texts">
    <%= @dog.name %>, <%= @dog.age %>
  </h2>

  <p class="dog-show-texts">
    $<%= @dog.price %>/hr
  </p>

  <% unless current_user.id == @dog.user_id %>
    <%= form_tag charges_path do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Booking for <%= @dog.name %>"
              data-amount= <%= @dog.price * 100 %>
              data-locale="auto"></script>
    <% end %>
  <% end %>

  <p class="dog-show-texts">
    <%= @dog.breed %>
  </p>

  <p class="dog-show-texts">
    <%= @dog.description %>
  </p>

  <br>

  <% if @dog.tricks? %>
    <p class="dog-show-texts">Tricks</p>
  <% end %>

  <% if @dog.kid_friendly? %>
    <p class="dog-show-texts">Kid friendly</p>
  <% end %>

  <% if @dog.obedient? %>
    <p class="dog-show-texts">Obedient</p>
  <% end %>

  <% if @dog.energetic? %>
    <p class="dog-show-texts">Energetic</p>
  <% end %>

  <% if @dog.small? %>
    <p class="dog-show-texts">Small</p>
  <% end %>

  <% if @dog.medium? %>
    <p class="dog-show-texts">Medium</p>
  <% end %>

  <% if @dog.large? %>
    <p class="dog-show-texts">Large</p>
  <% end %>

  <br>


  <p class="dog-show-texts">
    <strong>Address:</strong>
    <%= @dog.address %>
  </p>

  <h4 class="dog-show-texts">Owner: <%= @dog.user.username %></h4>
  <% unless @dog.user.id == current_user.id%>
    <p class="dog-show-texts"><%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: @dog.user.id), method: 'post'%></p>
  <% end %>

  <%# image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@dog.latitude}%2C#{@dog.longitude}" %>

  <div id="map" style="width: 100%; height: 350px"></div>
  <script>
          function initialize(dog) {
            var location = {lat: <%= @dog.latitude %>, lng: <%= @dog.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
              center: location,
              zoom: 14
            });
            var marker = new google.maps.Marker({
              position: location,
              map: map
            });
            infoWindow.open(map, marker);
          }
          google.maps.event.addDomListener(window, 'load', initialize);
      </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClNsiY6bP91YjjPIJYq7dkPbH6xj37ldU&callback=initMap">
  </script>

  <br>

</div> <!-- end container div -->

<%= render "partials/nav" %>
