
<nav class="navbar fixed-bottom navbar-expand navbar-dark bg-primary">

  <div class="container">

    <div class="navbar-collapse collapse justify-content-center">
        <ul class="navbar-nav nav-fill">

            <li class="nav-item">
              <p class="nav-link"><%= link_to "", dogs_path(@user_id), class: "fa fa-search fa-2x", style: "color:#FF69B4" %></p>
            </li> <!-- link to dog index -->

            <li class="nav-item">
              <p class="nav-link"><%= link_to "", edit_user_registration_path(@user_id), class: "fa fa-heart-o fa-2x", style: "color:#FF69B4" %></p>
            </li> <!-- link to saved dogs -->

            <li class="nav-item">
              <p class="nav-link"><%= link_to "", edit_user_registration_path(@user_id), class: "fa fa-paw fa-2x", style: "color:#FF69B4" %></p>
            </li> <!-- link to upcoming dogs -->

            <li class="nav-item">
              <p class="nav-link"><%= link_to "", conversations_path(@user_id), class: "fa fa-comment-o fa-2x", style: "color:#FF69B4" %></p>
            </li> <!-- link to messages -->

            <li class="nav-item">
              <p class="nav-link"><%= link_to "", edit_user_registration_path(@user_id), class: "fa fa-user-circle-o fa-2x", style: "color:#FF69B4" %></p>
            </li> <!-- link to edit profile -->

        </ul>
    </div> <!-- end navbar-collapse div -->

  </div> <!-- end container -->

</nav>
