<nav class="navbar fixed-bottom navbar-expand-lg", style="background-color: #e3f2fd;">

  <div class="container">

    <div class="justify-content-center">
      <ul class="navbar-nav nav justify-content-center">

        <li class="nav-item">
          <p class="nav-link"><%= link_to "", dogs_path(@user_id), class: "fa fa-search fa-2x", style: "color:#FF69B4" %></p>
        </li>

        <li class="nav-item">
          <p class="nav-link"><%= link_to "", edit_user_registration_path(@user_id), class: "fa fa-heart-o fa-2x", style: "color:#FF69B4" %></p>
        </li>

        <li class="nav-item">
          <p class="nav-link"><%= link_to "", edit_user_registration_path(@user_id), class: "fa fa-paw fa-2x", style: "color:#FF69B4" %></p>
        </li>

        <li class="nav-item">
          <p class="nav-link"><%= link_to "", edit_user_registration_path(@user_id), class: "fa fa-comment-o fa-2x", style: "color:#FF69B4" %></p>
        </li>

        <li class="nav-item">
          <p class="nav-link"><%= link_to "", edit_user_registration_path(@user_id), class: "fa fa-user-circle-o fa-2x", style: "color:#FF69B4" %></p>
        </li>

      </ul>
    </div>

  </div> <!-- end container -->
</nav>
